<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

    <th:block th:include="include :: header('消息管理')"/>

    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }

        .modal {
            overflow: auto !important;
        }

        .search-in {
            width: 200px !important;
        }

        .search-btn {
            width: auto !important;
        }

        .fl {
            float: left;
        }
    </style>
</head>
<body class="modal-open" style="overflow: hidden">
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="outter">
                <div class="row">
                    <div class="top-nav col-md-12">
                        <span class="label_name">意见中心</span>
                        <div class="crumbs">
                            <span class="gray">主页</span> <i>&nbsp;/&nbsp;</i>
                            <span>其他管理</span> <i>&nbsp;/&nbsp;</i>
                            <span>意见中心</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="part">
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <div class="margin">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control search-in mar16"
                                                               id="searchtitle"
                                                               placeholder="请输入标题进行搜索">
                                                        <select id="opinionType"
                                                                class="form-control search-in mar16">
                                                            <option value="">建议类型</option>
                                                            <option value="1">建议</option>
                                                            <option value="2">意见</option>
                                                            <option value="3">问题反馈</option>
                                                            <option value="4">其他</option>
                                                        </select>
                                                        <span class="input-group-btn fl search-btn mar16">
                                                        <button class="btn btn-primary" type="button"
                                                                id="searchBtn">搜索</button>
                                                        </span>
                                                            <span class="input-group-btn fl search-btn mar16">
                                                            <button class="btn btn-primary" type="button"
                                                                    id="clearBtn">清空</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <div class="example-wrap" style="position: relative;">
                                            <div class="example">
                                                <table id="examplePagination" data-mobile-responsive="true"
                                                       data-icon-size="outline"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--详情-->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     data-backdrop="static">
    <input type="hidden" id="id"/>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <span aria-hidden="true">&times;</span></button>
                <h4 id="title_name" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form role="form" id="partner_form">
                    <div class="form-group">
                        <label for="opinion_type">意见类型:</label>
                        <select id="opinion_type" disabled="disabled" class="form-control">
                            <option value="1">建议</option>
                            <option value="2">意见</option>
                            <option value="3">问题反馈</option>
                            <option value="4">其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">标题:</label>
                        <input id="title" type="text" readonly class="form-control" maxlength="16" placeholder="请输入消息标题">
                    </div>
                    <div class="form-group">
                        <label for="opinionContent">消息内容:</label>
                        <textarea id="opinionContent" rows="5" class="form-control" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label for="opinionFile">附件:</label>
                        <div id="opinionFile"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<!--自定义js-->
<script th:src="@{/js/otherManager/opinion.js}"></script>
</body>
</html>