<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改密码')"/>
</head>
<body class="modal-open" style="overflow: hidden">
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="outter">
                <div class="row">
                    <div class="top-nav col-md-12">
                        <span class="label_name">个人中心</span>
                        <div class="crumbs">
                            <span class="gray">主页</span> <i>&nbsp;/&nbsp;</i>
                            <span>个人中心</span> <i>&nbsp;/&nbsp;</i>
                            <span>修改密码</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">修改密码</h3>
                            </div>
                            <form role="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        <span class="text-danger">*</span>
                                        <label for="oldPassword">当前密码:</label>
                                        <input id="oldPassword" type="password" class="form-control"
                                               placeholder="请输入当前密码">
                                    </div>
                                    <div class="form-group">
                                        <span class="text-danger">*</span>
                                        <label for="newPassword">新密码:</label>
                                        <input id="newPassword" type="password" class="form-control"
                                               placeholder="请输入新密码">
                                    </div>
                                    <div class="form-group">
                                        <span class="text-danger">*</span>
                                        <label for="confirmedNewPassword">确认密码:</label>
                                        <input id="confirmedNewPassword" type="password" class="form-control"
                                               placeholder="请输入确认密码">
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button id="modify" type="button" class="btn btn-primary">确认修改</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block th:include="include :: footer"/>
<!--自定义js-->
<script th:src="@{/js/modifyPassword/modifyPassword_index.js}"></script>
</body>
</html>