<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>添加应用</title>
        <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/new.css">
        <link rel="stylesheet" href="../static/plugins/bootstrap-switch/bootstrap-switch.css">
        <link rel="stylesheet" href="../static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
        <script src="../static/bower_components/jquery/dist/jquery.js"></script>
        <script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../static/plugins/bootstrap-switch/bootstrap-switch.js"></script>
        <script src="../static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="../static/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
        
    </head>
    <body>
        <div class="outter">
            <div class="row">
                <div class="top-nav col-md-12">
                    <span class="label_name">应用列表</span>
                    <div class="crumbs">
                        <span class="gray">主页</span> <i>&nbsp;/&nbsp;</i>
                        <span>组件</span> <i>&nbsp;/&nbsp;</i>
                        <span>导航</span>
                    </div>
                </div>
            </div>
            
            <div class="row add-cont">
                <div class="col-md-12 add-title">填写应用资料:</div>
                <form action="" class="new-form col-md-12">
                    <div class="form-item">
                        <span class="name"><i class="star"></i>应用图标</span>
                        <div class="form-cont form-upload">
                            <div class="add-up">
                                <input type="file">
                                <img src="../static/images/add.png" class="addimg">
                                <p>上传</p>
                            </div>
                            <div class="add-up">
                                <img src="../static/images/add.png" class="img">
                            </div>
                        </div>
                        <p class="tip">支持扩展名.png,.jpg，图片大小不超过1M</p>
                    </div>
                    <div class="form-item">
                        <span class="name">应用ID</span>
                        <div class="form-cont">
                            <div class="form-in">idaas_sdnakdsakhaidjakdhjkadh_akdan</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>应用名称</span>
                        <div class="form-cont">
                            <div class="form-in">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="请输入应用名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>应用名称</span>
                        <div class="form-cont">
                            <div class="form-in">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>HTML</option>
                                        <option>CSS</option>
                                        <option>Javascript</option>
                                        <option>Bootstrap</option>
                                        <option>AngularJs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>应用类型</span>
                        <div class="form-cont">
                            <div class="form-in">
                                <div class="form-group">
                                    <div class="form-check checkbox-inline checkbox-custom">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                                    </div>
                                    <div class="form-check checkbox-inline checkbox-custom">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                        <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>是否允许回调子域</span>
                        <div class="form-cont">
                            <div class="form-in">
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                                      </div>
                                      <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
                                        <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>应用状态</span>
                        <div class="form-cont">
                            <div class="form-in">
                                <div class="form-group">
                                    <input type="checkbox" name="my-checkbox" data-on-text="启用" data-off-text="不启用">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>Redircet Url</span>
                        <div class="form-cont">
                            <div class="form-in form-in-textarea">
                                <div class="form-group">
                                    <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <span class="name"><i class="star"></i>创建时间</span>
                        <div class="form-cont">
                            <div class="form-in">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" placeholder="时间选择--精确到秒"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            $("[name='my-checkbox']").bootstrapSwitch();


            $("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function (event,state) {
                console.log(state);
            });

            $('#datetimepicker1').datepicker({
                format:'yyyy-mm-dd',
                stepping:'1',
                language:'zh-CN'
            });

        </script>
    </body>
</html>