<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="include :: header('应用列表')" />
    </head>
    <body>
        <div class="outter">
            <div class="row">
                <div class="top-nav col-md-12">
                    <span class="label_name">应用列表</span>
                    <div class="crumbs">
                        <span class="gray">主页</span> <i>&nbsp;/&nbsp;</i>
                        <span>组件</span> <i>&nbsp;/&nbsp;</i>
                        <span>导航</span>
                    </div>
                </div>
            </div>
            
            <div class="ap-search row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" id="searchText" class="form-control" placeholder="请输入" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">搜 索</span>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <button type="button" id="addApp" class="btn btn-default blue-btn">添加应用</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="examplePagination" data-mobile-responsive="true"
                           data-icon-size="outline"></table>
<!--                    <table class="new-table">-->
<!--                        <tr>-->
<!--                            <th>应用图标</th>-->
<!--                            <th>应用名称</th>-->
<!--                            <th>应用ID</th>-->
<!--                            <th>设备类型</th>-->
<!--                            <th>应用状态</th>-->
<!--                            <th>操作</th>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <img src="../static/images/letter.png" class="icon">-->
<!--                            </td>-->
<!--                            <td><a class="blue">协同办公系统</a></td>-->
<!--                            <td>idassdsjakdskj-sdandsaknnkn</td>-->
<!--                            <td>Web应用</td>-->
<!--                            <td>-->
<!--                                <input type="checkbox" name="my-checkbox" data-on-text="开" data-off-text="关">-->
<!--                            </td>-->
<!--                            <td class="btns">-->
<!--                                <a class="blue">修改</a>-->
<!--                                <a class="blue">详情</a>-->
<!--                                <a class="red">删除</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <img src="../static/images/letter.png" class="icon">-->
<!--                            </td>-->
<!--                            <td><a class="blue">协同办公系统</a></td>-->
<!--                            <td>idassdsjakdskj-sdandsaknnkn</td>-->
<!--                            <td>Web应用</td>-->
<!--                            <td>-->
<!--                                <input type="checkbox" name="my-checkbox" data-on-text="开" data-off-text="关">-->
<!--                            </td>-->
<!--                            <td class="btns">-->
<!--                                <a class="blue">修改</a>-->
<!--                                <a class="blue">详情</a>-->
<!--                                <a class="red">删除</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <img src="../static/images/letter.png" class="icon">-->
<!--                            </td>-->
<!--                            <td><a class="blue">协同办公系统</a></td>-->
<!--                            <td>idassdsjakdskj-sdandsaknnkn</td>-->
<!--                            <td>Web应用</td>-->
<!--                            <td>-->
<!--                                <input type="checkbox" name="my-checkbox" data-on-text="开" data-off-text="关">-->
<!--                            </td>-->
<!--                            <td class="btns">-->
<!--                                <a class="blue">修改</a>-->
<!--                                <a class="blue">详情</a>-->
<!--                                <a class="red">删除</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
                </div>
            </div>
            
        </div>

        <th:block th:include="include :: footer" />
        <!--自定义js-->
        <script th:src="@{/js/application/index.js}"></script>

        <script>
            $("[name='my-checkbox']").bootstrapSwitch();
        </script>
    </body>
</html>