<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiptimes.identity.dao.TpMainFileMapper" >
  <resultMap id="BaseResultMap" type="com.tiptimes.identity.entity.TpMainFile" >
    <id column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_time" property="fileTime" jdbcType="TIMESTAMP" />
    <result column="file_storage_name" property="fileStorageName" jdbcType="VARCHAR" />
    <result column="file_MD5" property="fileMd5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    file_id, file_name, file_type, file_time, file_storage_name, file_MD5
  </sql>
</mapper>