<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiptimes.identity.dao.TpMainAdminUserMapper">
    <resultMap id="BaseResultMap" type="com.tiptimes.identity.entity.TpMainAdminUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="login_password" property="loginPassword" jdbcType="VARCHAR"/>
        <result column="user_contact" property="userContact" jdbcType="VARCHAR"/>
        <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="is_admin" property="isAdmin" jdbcType="INTEGER"/>
        <result column="is_leave" property="isLeave" jdbcType="INTEGER"/>
        <result column="nature" property="nature" jdbcType="INTEGER"/>
        <result column="post" property="post" jdbcType="VARCHAR"/>
        <result column="deputy_post" property="deputyPost" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="header_url" property="headerUrl" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, login_name, login_password, user_contact, user_address, mail, role_id, 
    create_user, create_time, update_user, update_time, status, is_delete,remark, is_admin,
    is_leave, nature, post, deputy_post, sort, department, header_url, user_type, group_id
  </sql>

    <select id="selectList" parameterType="com.tiptimes.identity.bo.AdminUserParam"
            resultType="com.tiptimes.identity.vo.TpMainAdminUserVO">
        SELECT
        u.id AS id,
        u.user_name AS userName,
        u.login_name AS loginName,
        u.user_contact AS userContact,
        u.user_address AS userAddress,
        u.mail AS mail,
        u.create_time AS createTime,
        u.update_time AS updateTime,
        u.status AS status,
        u.role_id AS roleId,
        u.remark AS remark,
        u.is_admin AS isAdmin,
        u.is_leave AS isLeave,
        u.nature AS nature,
        u.post AS post,
        u.sort AS sort,
        p.post_name postName,
        u.header_url AS headerUrl,
        GROUP_CONCAT(DISTINCT d.id ) AS departmentId,
        GROUP_CONCAT(DISTINCT d.NAME ) AS departmentName,
        GROUP_CONCAT(DISTINCT up.post_id) AS deputyPostId,
        GROUP_CONCAT(DISTINCT p.post_name ORDER BY p.id) AS deputyPost,
        GROUP_CONCAT(DISTINCT ug.group_id) AS groupId,
        GROUP_CONCAT(DISTINCT g.group_name) AS groupName
        FROM
        tp_main_admin_user u
        LEFT JOIN user_post up ON(up.user_id = u.id)
        LEFT JOIN post p ON(p.id = u.post)
        LEFT JOIN user_department ud ON ( ud.user_id = u.id )
        LEFT JOIN department d ON ( d.id = ud.department_id )
        LEFT JOIN user_group ug ON (ug.user_id = u.id)
        LEFT JOIN tp_group g ON (g.id = ug.group_id)
        WHERE
        u.is_delete = 0
        AND
        u.user_type = #{userType}
        AND
        u.is_leave = #{isLeave}
        <if test="id != null and id != ''">
            AND u.id = #{id}
        </if>
        <if test="departmentId != null and departmentId != ''">
            AND d.id = #{departmentId}
        </if>
        <if test="userName != null and userName !=''">
            AND u.user_name LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="nature != null and nature != ''">
            AND u.nature = #{nature}
        </if>
        <if test="post != null and post != ''">
            AND u.post = #{post}
        </if>
        GROUP BY u.id
        ORDER BY u.sort DESC, u.create_time DESC
    </select>

    <!--查询外部用户-->
    <select id="selectOutUserList" parameterType="com.tiptimes.identity.qo.OutUserRequest"
            resultType="com.tiptimes.identity.vo.OutUserVo">
        SELECT
        u.id userId,
        u.login_name loginName,
        u.nick_name nickName,
        u.user_name userName,
        u.sex sex,
        u.create_time createTime,
        u.ip_addr ipAddr,
        u.status status,
        u.user_out_type userOutType
        FROM
        tp_main_admin_user u
        WHERE
        u.is_delete = 0
        AND
        u.user_type = 2
        <if test="userId != null and userId != ''">
            AND u.id = #{userId}
        </if>
        <if test="searchText != null and searchText != ''">
            AND
            (
            u.login_name LIKE CONCAT('%',#{searchText},'%')
            OR
            u.nick_name LIKE CONCAT('%',#{searchText},'%')
            )
        </if>
        ORDER BY u.sort DESC, u.create_time DESC
    </select>

    <select id="selectUserByName" resultType="com.tiptimes.identity.vo.UserDetailsVo"
            parameterType="java.lang.String">
        SELECT
            u.id AS id,
            u.user_name AS userName,
            u.login_name AS loginName,
            u.login_password AS loginPassword,
            u.user_contact AS userContact,
            u.user_address AS userAddress,
            u.mail AS mail,
            u.create_time AS createTime,
            u.update_time AS updateTime,
            u.status AS status,
            u.is_admin AS isAdmin,
            u.is_leave AS isLeave,
            u.nature AS nature,
            u.post AS post,
            u.sort AS sort,
            u.group_id AS groupId,
            u.department AS department,
            u.header_url AS headerUrl,
            u.user_type AS userType
        FROM tp_main_admin_user u
        WHERE u.login_name = #{userName}
        AND u.status = 0
        AND u.is_delete = 0
    </select>
    <select id="selectUserByPhone" resultType="com.tiptimes.identity.vo.UserDetailsVo"
            parameterType="java.lang.String">
        SELECT
            u.id AS id,
            u.user_name AS userName,
            u.login_name AS loginName,
            u.login_password AS loginPassword,
            u.user_contact AS userContact,
            u.user_address AS userAddress,
            u.mail AS mail,
            u.create_time AS createTime,
            u.update_time AS updateTime,
            u.status AS status,
            u.is_admin AS isAdmin,
            u.is_leave AS isLeave,
            u.nature AS nature,
            u.post AS post,
            u.sort AS sort,
            u.group_id AS groupId,
            u.department AS department,
            u.header_url AS headerUrl,
            u.user_type AS userType
        FROM tp_main_admin_user u
        WHERE u.user_contact = #{phoneNumber}
        AND u.status = 0
        AND u.is_delete = 0
    </select>

    <select id="selectUserById" resultType="com.tiptimes.identity.vo.ClientUserVo"
            parameterType="java.lang.String">
        SELECT
            u.id AS id,
            u.user_name AS userName,
            u.login_name AS loginName,
            u.login_password AS loginPassword,
            u.user_contact AS userContact,
            u.user_address AS userAddress,
            u.mail AS mail,
            u.create_time AS createTime,
            u.update_time AS updateTime,
            u.status AS status,
            u.is_admin AS isAdmin,
            u.is_leave AS isLeave,
            u.nature AS nature,
            u.post AS post,
            u.sort AS sort,
            u.group_id AS groupId,
            u.department AS department,
            u.header_url AS headerUrl,
            u.user_out_type AS userOutType,
            u.user_type AS userType,
            u.birth AS birth,
            u.nation AS nation,
            u.province AS province,
            u.city AS city,
            u.county AS county,
            u.post_code AS postCode,
            u.education AS education
        FROM tp_main_admin_user u
        WHERE u.id = #{id}
        AND u.status = 0
        AND u.is_delete = 0
        AND u.is_leave = 0
    </select>
    <!--查询用户密码-->
    <select id="selectUserPwd" parameterType="java.lang.String" resultType="java.lang.String">
        select login_password from tp_main_admin_user where id = #{id}
    </select>
    <!--更新为离职用户-->
    <update id="updateUserLeave" parameterType="java.lang.String">
        UPDATE
        tp_main_admin_user
        SET is_leave = 1
        WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--还原离职用户-->
    <update id="updateUserUnLeave" parameterType="java.lang.String">
        UPDATE
        tp_main_admin_user
        SET is_leave = 0
        WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--启用用户-->
    <update id="updateUserUse" parameterType="java.lang.String">
         UPDATE
        tp_main_admin_user
        SET status = 0
        where id = #{id}
    </update>
    <!--禁用用户-->
    <update id="updateUserUnUse" parameterType="java.lang.String">
         UPDATE
        tp_main_admin_user
        SET status = 1
        where id = #{id}
    </update>
    <!--更新外部用户-管理后台用-->
    <update id="updateOutUser" parameterType="com.tiptimes.identity.entity.OutUser">
        update
        tp_main_admin_user
        set
        user_name = #{userName},
        nick_name = #{nickName},
        sex = #{sex},
        status = #{status},
        update_time = #{updateTime},
        update_user = #{updateUser},
        user_out_type = #{userOutType}
        where id = #{id}
    </update>
    <!--更新外部用户-客户端完善用户资料-->
    <update id="updateOutUserInfo" parameterType="com.tiptimes.identity.qo.OutUserInfoRequest">
        update
        tp_main_admin_user
        set
        user_name = #{userName},
        sex = #{sex},
        nation = #{nation},
        province = #{province},
        city = #{city},
        county = #{county},
        post_code = #{postCode},
        user_address = #{userAddress},
        user_contact = #{userContact},
        birth = #{birth},
        education = #{education}
        where
        id = #{id}
    </update>
    <!--修改用户头像-->
    <update id="updateUserHead" parameterType="com.tiptimes.identity.qo.UserHeadRequest">
        update
        tp_main_admin_user
        set
        header_url = #{headerUrl}
        where id = #{userId}
    </update>
    <!--修改用户密码-->
    <update id="updateUserPwd" parameterType="com.tiptimes.identity.qo.UserPwdRequest">
        update
        tp_main_admin_user
        set login_password = #{newPassword}
        where id = #{id}
    </update>
    <!--新增外部用户-管理后台添加外部用户-->
    <insert id="insertOutUser" parameterType="com.tiptimes.identity.entity.OutUser">
        insert into tp_main_admin_user
        (
            id, login_name,
            login_password, user_name,
            nick_name, sex,
            ip_addr, status,
            is_delete, create_time,
            create_user, user_out_type,
            user_type
        )
        values
        (
            #{id}, #{loginName},
            #{loginPassword}, #{userName},
            #{nickName}, #{sex},
            #{ipAddr}, #{status},
            #{isDelete}, #{createTime},
            #{createUser}, #{userOutType},
            2
        )
    </insert>
    <!--新增外部用户-客户端注册新用户-->
    <insert id="insertClientOutUser" parameterType="com.tiptimes.identity.qo.RegisterOutUserRequest">
        insert into tp_main_admin_user
        (
            id, login_name,
            login_password, user_name,
            sex,
            user_out_type, user_type,
            birth, user_contact
        )
        values
        (
            #{id}, #{loginName},
            #{loginPassword}, #{userName},
            #{sex},
            1, 2,
            #{birth}, #{userContact}
        )
    </insert>

</mapper>