<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiptimes.identity.dao.UserClientMapper">
  <resultMap id="BaseResultMap" type="com.tiptimes.identity.entity.UserClient">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_id, user_id
  </sql>

  <!--查询内部用户的应用-->
  <select id="selectUserClientList" parameterType="java.lang.String" resultType="com.tiptimes.identity.entity.OauthClientDetails">
    select
      ocd.client_id clientId,
      ocd.resource_ids resourceIds,
      ocd.client_secret clientSecret,
      ocd.scope scope,
      ocd.authorized_grant_types authorizedGrantTypes,
      ocd.web_server_redirect_uri webServerRedirectUri,
      ocd.authorities authorities,
      ocd.access_token_validity accessTokenValidity,
      ocd.refresh_token_validity refreshTokenValidity,
      ocd.create_time createTime,
      ocd.archived archived,
      ocd.trusted trusted,
      ocd.autoapprove autoapprove,
      ocd.redirect_url redirectUrl,
      ocd.img_url imgUrl,
      ocd.status status,
      ocd.client_type clientType,
      ocd.client_name clientName,
      ocd.client_domain clientDomain,
      ocd.is_del isDel
    from user_client uc
    INNER JOIN oauth_client_details ocd on(ocd.client_id = uc.client_id)
    INNER JOIN tp_main_admin_user au on(au.id = uc.user_id)
    where uc.user_id = #{userId} and au.user_type = 1
  </select>

  <select id="selectUserByClientId" parameterType="java.lang.String" resultType="com.tiptimes.identity.vo.UserVo">
    SELECT
    uc.user_id userId
    FROM user_client uc
    WHERE uc.client_id = #{clientId}
  </select>

  <select id="selectDetail" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_client
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="del" parameterType="java.lang.Integer">
    delete from user_client
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="delByUserId" parameterType="java.lang.String">
    delete from user_client
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <delete id="delByClientId" parameterType="java.lang.String">
    delete from user_client
    where client_id = #{clientId,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.tiptimes.identity.entity.UserClient">
    insert into user_client (client_id, user_id
      )
    values (#{clientId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateById" parameterType="com.tiptimes.identity.entity.UserClient">
    update user_client
    set client_id = #{clientId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>