* {
  padding: 0;
  margin : 0;
}

html,
body {
  background-color: rgb(250, 250, 250);
}

.row {
  margin: 0;
}

.s-item {
  margin          : 10px 0;
  border          : 1px solid #ddd;
  background-color: #fff;
  height          : 211px;
}

.s-item .title {
  padding      : 8px 20px;
  border-bottom: 1px solid #ddd;
  color        : rgb(92, 92, 92);
  font-size    : 16px;
}

.s-item .add,
.s-item .specific {
  padding: 10px 20px;
}

.s-item .add p a{

  color: rgb(24, 121, 254);
}

.s-item .specific .num {
  color    : rgb(24, 121, 254);
  font-size: 30px;

}

.s-item .specific .unit {
  font-size: 24px;

}

.s-item .text {
  padding  : 10px 20px;
}

.s-item .text a{
  color    : rgb(160, 160, 160);
  font-size: 16px;
  cursor   : pointer;
}

.list {
  margin          : 10px 0;
  border          : 1px solid #ddd;
  background-color: #fff;

}

.list .title {
  padding      : 8px 20px;
  border-bottom: 1px solid #ddd;
  color        : rgb(92, 92, 92);
  font-size    : 16px;
}

.list .tag {
  display: flex;
  margin : 10px 20px;
}

.list .tag li {
  margin    : 0 20px;
  padding   : 4px 10px;
  list-style: none;
  cursor    : pointer;

}

.list .tag li.active {
  border-bottom: 4px solid rgb(24, 121, 254);

}

.ipcon {
  position: relative;
}

.ipcon .arrow {
  position : absolute;
  font-size: 10px;
  left     : 25px;
  cursor   : pointer;
}

.ipcon .arrow.glyphicon-triangle-top {
  top: 8px;
}

.ipcon .arrow.glyphicon-triangle-bottom {
  top: 16px;
}