@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #FBFBFB;
}

.outter {
  margin: 10px;
}

.outter .top-nav {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  background: #fff;
  margin-bottom: 15px;
}

.outter .top-nav .label_name {
  float: left;
  color: #368FFE;
  font-size: 18px;
}

.outter .top-nav .crumbs {
  float: left;
  margin-left: 50px;
  font-size: 14px;
  cursor: pointer;
}

.outter .top-nav .crumbs .gray {
  color: #ccc;
}

.outter .top-nav .crumbs i {
  font-style: normal;
}

.outter .ap-search {
  background: #fff;
  padding: 10px;
}

.outter .new-table {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #eee;
  margin-top: 30px;
}

.outter .new-table th {
  text-align: center;
  background: #F2F2F2;
}

.outter .new-table .icon {
  width: 30px;
  height: 30px;
}

.outter .new-table .btns a {
  cursor: pointer;
}

.outter .new-table tr {
  border-bottom: 1px solid #eee;
}

.outter .input-group-addon {
  background: #368FFE;
  cursor: pointer;
  color: #fff;
}

.outter .blue-btn {
  background: #368FFE;
  color: #fff;
}

.outter .new-form .form-item {
  width: 100%;
  position: relative;
  padding-left: 140px;
  margin-top: 10px;
}

.outter .new-form .form-item .name {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  line-height: 34px;
}

.outter .new-form .form-item .form-cont {
  overflow: hidden;
}

.outter .new-form .form-item .form-cont .add-up {
  float: left;
  width: 104px;
  height: 104px;
  border: 2px dashed #eee;
  border-radius: 3px;
  position: relative;
  text-align: center;
  margin-right: 10px;
}

.outter .new-form .form-item .form-cont .add-up input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.outter .new-form .form-item .form-cont .add-up .addimg {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 20px 0 10px;
}

.outter .new-form .form-item .form-cont .add-up .img {
  width: 90%;
  height: 90%;
  margin-top: 5%;
}

.outter .new-form .form-item .form-cont .form-in {
  height: 34px;
  line-height: 34px;
}

.outter .new-form .form-item .form-cont .form-in.form-in-textarea {
  height: 80px;
}

.outter .new-form .form-item .form-cont .form-in .form-check {
  line-height: 20px;
  margin-top: 3px;
}

.outter .new-form .form-item .form-cont .form-in .radio-inline {
  padding-left: 0;
}

.outter .new-form .form-item .tip {
  color: #ccc;
}

.outter .add-cont {
  background: #fff;
}

.outter .add-cont .add-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.outter .group-cont .group-tree-cont {
  border: 1px solid #eee;
}

.outter .group-cont .group-tree-cont .name {
  line-height: 40px;
  border-bottom: 1px solid #eee;
  padding: 0 10px;
}

.outter .group-cont .group-tree-cont .group-tree {
  padding: 10px 0;
}

.outter .group-cont .group-tl {
  border-bottom: 1px solid #eee;
}

.outter .group-cont .group-tl .tl {
  font-size: 18px;
}

.outter .group-cont .group-tl .btn {
  color: #368FFE;
}

.outter .group-cont .group-tabs {
  margin-top: 40px;
}

.outter .group-cont .group-tabs .tabs-operate {
  overflow: hidden;
}

.outter .group-cont .group-tabs .tabs-operate .newbtn {
  margin-top: 2px;
}

.outter .group-cont .group-tabs .tabs-operate .import, .outter .group-cont .group-tabs .tabs-operate .export {
  float: right;
  margin-left: 10px;
  width: 100px;
}

.outter .group-cont .group-tabs .group-table {
  margin-top: 20px;
}

.outter .group-cont .group-tabs .group-table .el-table th {
  background: #eee;
}

.outter .group-cont .group-tabs .group-table .el-checkbox__input {
  margin-top: 4px;
}

.outter .group-cont .group-tabs .group-table .gbtn {
  text-decoration: none;
  cursor: pointer;
}

.outter .group-cont .group-tabs .group-table .gbtn:hover {
  color: #0058E5;
}

.outter .group-cont .group-tabs .input-with-btn {
  width: 400px;
  float: left;
  margin-left: 10px;
}

.outter .group-cont .group-page {
  margin-top: 10px;
  text-align: right;
}

.auth .auth-tl {
  line-height: 40px;
  border-bottom: 1px solid #eee;
  font-size: 17px;
}

.auth .auth-cont {
  background: #fff;
}

.auth .auth-tree-cont {
  padding: 10px 10px 40px;
}

.auth .auth-tree-cont .new-table {
  margin-top: 10px;
}

.auth .auth-tabs {
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}

.auth .auth-tabs .auth-tab {
  float: left;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

.auth .auth-tabs .auth-tab.active {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 3px;
}

.auth .auth-tabs .auth-tab.active::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  border-bottom: 1px solid #fff;
  bottom: 1px;
  left: 0;
  z-index: 2;
}

.auth .auth-cont-cont {
  margin-top: 20px;
}

.auth .auth-cont-cont .auth-account {
  border: 1px solid #eee;
  border-radius: 3px;
}

.auth .auth-cont-cont .auth-account .auth-tl {
  padding: 0 10px;
}

.auth .auth-cont-cont .auth-account .auth-tl .num {
  color: #1890FF;
}

.auth .auth-cont-cont .auth-account .search-tree {
  border: 1px solid #eee;
  border-radius: 3px;
  height: 50px;
  position: relative;
  padding-right: 30px;
  margin-top: 10px;
}

.auth .auth-cont-cont .auth-account .search-tree input {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  outline: none;
}

.auth .auth-cont-cont .auth-account .search-tree .icon {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.auth .auth-cont-cont .auth-account .auth-tree {
  margin-top: 10px;
}

.auth .auth-cont-cont .auth-account .search-apply {
  border: 1px solid #eee;
  border-radius: 3px;
  height: 50px;
}

.auth .auth-cont-cont .auth-account .search-apply input {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  outline: none;
}

.auth .auth-cont-cont .auth-account .auth-apply {
  padding: 10px 10px 40px;
}

.auth .checkbox-custom {
  margin-bottom: 0;
}

.auth .checkbox-custom input[type="checkbox"]:checked + label:before {
  background: #368FFE;
  border: 1px solid #368FFE;
}

.auth .btns .btn {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #666;
  margin-top: 20px;
  margin-right: 10px;
}

.auth .btns .btn.on {
  background: #368FFE;
  border: 1px solid #368FFE;
  color: #fff;
}

.blue {
  color: #368FFE;
}

.red {
  color: #F60000;
}

.star {
  color: #F60000;
  font-style: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mar10 {
  margin-right: 10px;
}

.mal10 {
  margin-left: 10px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background: #368FFE !important;
}

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
  padding: 0px 5px !important;
}

.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 30px !important;
  border-top-left-radius: 30px !important;
}

.bootstrap-switch {
  border-radius: 30px !important;
}

.checkbox-custom {
  position: relative;
  padding: 0 15px 0 25px;
  margin-bottom: 7px;
  margin-top: 0;
  display: inline-block;
}

/*
将初始的checkbox的样式改变
*/
.checkbox-custom input[type="checkbox"] {
  opacity: 0;
  /*将初始的checkbox隐藏起来*/
  position: absolute;
  cursor: pointer;
  z-index: 2;
  margin: -6px 0 0 0;
  top: 50%;
  left: 3px;
}

/*
设计新的checkbox，位置
*/
.checkbox-custom label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 19px;
  height: 18px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #bbb;
  background: #fff;
}

/*
点击初始的checkbox，将新的checkbox关联起来
*/
.checkbox-custom input[type="checkbox"]:checked + label:after {
  position: absolute;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  top: 42%;
  left: 3px;
  margin-top: -5px;
  font-size: 11px;
  line-height: 1;
  width: 16px;
  height: 16px;
  color: #fff;
}

.checkbox-custom input[type="checkbox"]:checked + label:before {
  background: #67B97A;
  border: 1px solid #67B97A;
}

.checkbox-custom input:disabled + label:before {
  background: #bbb;
  border: 1px solid #bbb;
}

.checkbox-custom input:disabled {
  cursor: not-allowed;
}

.checkbox-custom input:disabled + label:after {
  position: absolute;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  top: 42%;
  left: 3px;
  margin-top: -5px;
  font-size: 11px;
  line-height: 1;
  width: 16px;
  height: 16px;
  color: #fff;
}

.checkbox-custom label {
  cursor: pointer;
  line-height: 1.2;
  font-weight: normal;
  /*改变了rememberme的字体*/
  margin-bottom: 0;
  text-align: left;
}

.custom-control {
  position: relative;
  display: inline-block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 10px;
}

.custom-switch {
  padding-left: 2.6rem;
}

.custom-control-input {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: -1;
  width: 2.3rem;
  height: 1.25rem;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  cursor: pointer;
}

.custom-switch .custom-control-label::before {
  left: -2.6rem;
  width: 2.5rem;
  pointer-events: all;
  border-radius: 1rem;
}

.custom-control-label::before, .custom-file-label, .custom-select {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-control-label::before {
  position: absolute;
  top: .7rem;
  left: -1.5rem;
  display: block;
  width: 2.2rem;
  height: 1.4rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-switch .custom-control-label::after {
  top: calc(.7rem + 2px);
  left: calc(-2.6rem + 2px);
  width: calc(1.4rem - 4px);
  height: calc(1.4rem - 4px);
  background-color: #adb5bd;
  border-radius: 1rem;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
}

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1.5rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.custom-control-input:disabled ~ .custom-control-label, .custom-control-input[disabled] ~ .custom-control-label {
  color: #6c757d;
  cursor: not-allowed;
}

.custom-control-input:disabled ~ .custom-control-label::before, .custom-control-input[disabled] ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(0.75rem);
  transform: translateX(0.75rem);
  left: calc(-2.2rem + 2px);
}

.el-input-group__append button.el-button {
  border-color: #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 0;
}
.jstree-default .jstree-closed>.jstree-ocl,.jstree-default .jstree-open>.jstree-ocl{
  background-position:center center !important;
}