html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.notice{
  background: #fff;
}

.notice-title{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.mat30{
  margin-top: 30px;
}

.notice-main{
  width: 960px;
  margin: 30px auto;
  line-height: 30px;
}

