<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

    <th:block th:include="include :: header('角色管理')" />

    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }

        .modal {
            overflow: auto !important;
        }
    </style>
</head>
<body class="modal-open" style="overflow: hidden">
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="margin">
                                <div class="btn-group" shiro:hasPermission="role_add">
                                    <button type="button" class="btn btn-sm btn-primary pull-left m-t-n-xs"
                                            style="margin-left:10px" onclick="addRole();">新建
                                    </button>
                                </div>
                                <div class="btn-group" shiro:hasPermission="role_edit">
                                    <button type="button" class="btn btn-sm btn-info pull-left m-t-n-xs"
                                            style="margin-left:10px" onclick="editRole();">编辑
                                    </button>
                                </div>
                                <div class="btn-group" shiro:hasPermission="role_del">
                                    <button type="button" class="btn btn-sm btn-danger pull-left m-t-n-xs"
                                            style="margin-left:10px" onclick="delRole();">删除
                                    </button>
                                </div>
                                <div class="btn-group" shiro:hasPermission="role_enable">
                                    <button type="button" id="enable" class="btn btn-sm btn-success pull-left m-t-n-xs"
                                            style="margin-left:10px" onclick="enableRole();">启用
                                    </button>
                                </div>
                                <div class="btn-group" shiro:hasPermission="role_disable">
                                    <button type="button" id="disable" class="btn btn-sm btn-warning pull-left m-t-n-xs"
                                            style="margin-left:10px" onclick="disableRole();">禁用
                                    </button>
                                </div>
                                <div class="btn-group" shiro:hasPermission="role_set_auth">
                                    <button type="button" class="btn btn-sm bg-purple pull-left m-t-n-xs"
                                            style="margin-left:10px" onclick="setAuth();">权限设置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="example-wrap" style="position: relative;">
                                <div class="example">
                                    <div class="hidden-xs" id="exampleToolbar" role="group">
                                        <form id="search_form">

                                        </form>
                                    </div>
                                    <table id="examplePagination" data-mobile-responsive="true"
                                           data-icon-size="outline"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--新增/修改modal-->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                    <span aria-hidden="true">&times;</span></button>
                <h4 id="title_name" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form role="form" id="partner_form">
                    <div class="form-group">
                        <span class="text-danger">*</span>
                        <label for="roleName">角色名称:</label>
                        <input id="roleName" type="text" class="form-control" maxlength="32" placeholder="请输入角色名称">
                        <input id="id" name="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="remark">角色说明:</label>
                        <textarea id="remark" class="form-control" rows="3" placeholder="请输入角色说明" maxlength="500"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save_btn" type="button" class="btn btn-primary">保存</button>
                <button id="cancel" type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 权限设置modal -->
<div class="modal fade" id="permission_modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">权限设置</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="box-header">
                        <form id="search">
                            <input type="search" placeholder="搜索（回车搜索）" class="form-control" id="enter"/>
                        </form>
                    </div>
                    <div class="box-body">
                        <div class="ibox-content">
                            <ul id='permissionTree' style="padding-left: 0"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save_permission" type="button" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: del" />
<th:block th:include="include :: footer" />
<!--自定义js-->
<script th:src="@{/js/role/role_index.js}"></script>
</body>
</html>